body {
	background: #ebf0f3 !important;
}

.navbar-pje {
	background: #0078AA;
	color: #fff;
}

.form-signin {
	background: #ffffff;
	border: #cccccc solid 1px;
	border-radius: 5px;
	box-shadow: 0 0 0.5em #bbb;
	padding: 10px;
	min-height: 205px;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"], input[type="password"] {
	margin-bottom: 15px;
}

.botao-certificado {
	width: 100%;
	padding: 0 0 0 50px !important;
	background: #0084ac url(../img/cerfiticado-digital-login.jpg) 0 center no-repeat !important;
	min-height: 45px;
}

.form-wrapper {
	padding: 15px;
}

.btn {
	padding: 4px 16px;
	font-size: 16px;
	line-height: 1.846
}

.btn.btn-primary {
	color: #fff;
	border: 0px solid transparent;
	background: #0084ac;
	box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.239216) 0px 1px 4px;
	transition: all .4s ease-in-out;
}

.btn.btn-primary:hover {
	background: #029BCA;
}

.link {
	text-decoration: none;
	font-size: 0.9rem;
	color: #337ab7;
}

.outrasopcoes {
	color: #555;
	border-bottom: 1px solid #939393;
	font-size: 0.9em;
}

.version {
	color: #666;
	font-size: 13px;
}

.div-login {
	border-botton: 1px solid;
	color: #CCC;
}

.new-password-message {
	font-size: 0.9rem;
	font-weight: bold;
}

.new-password-message.failure {
	color: #dc3545;
}

.new-password-message.success {
	color: #218754;
}

.br-sign-in {
	display: inline-flex;
	height: 40px;
	text-decoration: none;
	align-items: center;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 3px 3px 3px #ddd;
	border-radius: 0.375rem;
	width: auto !important;
	padding: 0 1.5em;
	color: var(--bs-gray-700);
}

.br-sign-in:hover {
	text-decoration: none;
}

.br-sign-in.block {
	width: 100%;
}

.br-sign-in img {
	max-height: 20px;
}

.navbar-brand-img {
	height: 35px;
}

.navbar-brand-title {
	color: #FFF;
	padding-left: 5px;
}

@media ( max-width : 405px) {
	.navbar-brand-title {
		font-size: 1.1rem;
	}
}

.brasao {
	height: 100px;
	width: 100px;
	margin-bottom: 16px;
}

.pje-color {
	color: #054863;
}

.sistema {
	font-size: 26px;
}

.sub-sistema {
	font-size: 20px
}

.body-top {
	padding-top: 75px;
}

.custom-login-info {
	background-color: #fcf8e3; 
	border: 1px solid transparent; 
	border-radius: 4px;
	height: 100px;
	width: 100%;
}

.kc-feedback-text {
    position: fixed;
    width: auto;
    bottom: 10px;
    right: 10px;
    transition: 0.5s;
    padding: 1em 3em;
    background: #f6c6c6;
    border-radius: 5px;
    max-width: 80%;
    min-width: 20%;
    border: 1px solid #f00;
    font-size: 0.9em;
    text-align: center;
}